@tailwind base;
@tailwind components;
@tailwind utilities;

/* create component class */

@layer components{
  .button{
    @apply p-2 my-5 bg-gray-900 rounded-md focus:outline-none;
  }
}

body {
  background-color: #083F46;
  color: #FFFFFF;
}

input {  
  position: absolute;
  width: 30%;
  height: 55px;
  /* left: 122px;
  top: 364px; */
  padding-left: 50px;
  background: #FFFFFF;
  border-radius: 50px;
  color: #083F46;
}


.rightBg {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  top: 0px;
  right: 0px;
  background: url(bg.png);
  padding-left: 10%;
  padding-top: 20%;
  font-size: 80px;
  color: #083F46;
  font-weight: bold;
}

button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 131px;
  height: 48px;
  left: 90px;
  top: 600px;

  border: 1px solid #FFFFFF;
  border-radius: 50px;
}

.mb-4 {
  padding: 40px;
}

form {
  padding-top: 30px;
  padding-left: 50px;
}

.linkBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  border: none;
  left: 300px;
  text-decoration: underline;
  top: 600px;
}

.header {
  font-size: 50px;
  font-weight: 800;
  margin-top: 150px;
  margin-left: 100px;
}

.header2 {
  font-size: 30px;
  margin-left: 100px;
  font-weight: 500;
}